body{ 
  font-size: 15pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  font-weight:bold; 
}

h2{
  font-weight:bold; 
}

.recipe_name{
  font-size: 20pt;
  font-weight: bold;
}

.recipe_id{
  font-weight:bold;
}
  
.username{
  font-style:italic;
}
