body{ 
  font-size: 15pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  font-weight:bold; 
}

h2{
  font-weight:bold; 
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}

.book_name{
  font-size: 20pt;
  font-weight: bold;
}

.book_id{
  font-weight:bold;
}

.recipe_name{
  font-size: 20pt;
  font-weight: bold;
}

.recipe_id{
  font-weight:bold;
}
  
.username{
  font-style:italic;
}
