<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
    </head>

    <body> 
        <h1>JK Recipes</h1>

        <p><a href="/postrecipe/{{username}}">Post Recipe</a></p>
        <p><a href="/allrecipebooks/{{username}}">All Recipe books</a></p>
        <p><a href="/ingformpage/{{username}}">Search by ingredient</a></p>
        <p><a href="/nameformpage/{{username}}">Search by name</a></p>
        <p><a href="/labelformpage/{{username}}">Search by label</a></p>
        <p><a href="/createlabel/{{username}}">Create a label</a></p>
        <p><a href="/followusers/{{username}}">Follow Users</a></p>
        <p><a href="/user/{{username}}">See my page</a></p>
        <p><a href='/createrecipebook/{{username}}'>Create recipe book</a></p>
        <p><a href="/">Logout</a></p>
        <h2>All Recipes</h2>
        <div>
            {% for n in data %}
            <div class="recipe_name">{{n.name}}</div>
            <div class="recipe_id">Recipe Number: {{n.recipe_id}}</div>
            <div class="username">By: {{n.username}}</div>
            <div>
                {% for l in n.labels %}
                    <b style="color:{{l.color}}">{{l.label_name}}</b> 
                {% endfor %}
            </div>
            <ul>
                {% for i in n.ingredients%}
                    <li>{{i}}</li>
                {% endfor %}
                
            </ul>
            <div>{{n.instructions}}</div>
            <form method="POST" action="/leavereview">
                <p>Review: <input type="text" name="body"> </p>
                <p>Rating: 1<input type="radio" name="rating" value=1>
                    2<input type="radio" name="rating" value=2>
                    3<input type="radio" name="rating" value=3>
                    4<input type="radio" name="rating" value=4>
                    5<input type="radio" name="rating" value=5>
                    <input type="hidden" name="username" value="{{username}}">
                    <input type="hidden" name="recipe_id" value="{{n.recipe_id}}">
                    <input type="submit" value="Submit"></p>
            </form>
            <p><a href="/reviews/{{username}}/{{n.recipe_id}}">See Reviews</a></p>
            <!-- <form method="POST" action="/saverecipe/{{username}}/{{n.recipe_id}}">
                <input type="submit" value="Save Recipe"></p>
            </form> -->
            {% endfor %}
        </div>
    </body>
</html>