<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
    </head>
 
    <body>
        <form method="POST" action="/followform/{{username}}">
            <input type="hidden" name="username" value="{{data}}">
            <select name="users" id="users" multiple>
                <!-- loop through all users in context -->
                {% for n in data %}
                <option value="{{n.username}}">{{n.username}}</option>
                {% endfor %}
                <input type="submit" value="Submit"></p>
              </select>
        </form>
    </body>
</html>
