<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
    </head>
 
    <body>
        <form method="POST" action="/labelformsearch">
            <input type="hidden" name="username" value="{{data}}">
            <!-- <input type="text" name="label">  -->
            <p>Label:</p>
            {% for n in labels %}
                <p><input type="radio" name="label" value="{{n}}" required>{{n}}</p>
            {% endfor %}
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>

