<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>

    <body> 
        <form method="POST" action="/loginredirect">
            <p>Username: <input type="text" name="username"> </p>
            <p>What do you want to do:<br> <input type="radio" name="page" value="postrecipe">Post Recipe<br>
                <input type="radio" name="page" value="allrecipes">View All Recipes<br>
                <input type="radio" name="page" value="ingformpage">Search by ingredient<br> </p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>