<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
    </head>
 
    <body>
        <form method="POST" action="/post">
            <input type="hidden" name="username" value="{{data}}">
            <p>Name of recipe: <input type="text" name="name"></p>
            <!-- <p>Ingredients (format as measurement, unit, ingredient; measurement...): <input type="text" name="ingredient"> </p> -->
            <p>Ingredients:  <textarea rows="10" cols="50" name="ingredient" placeholder="(format as measurement, unit, ingredient; measurement...)"></textarea></p>
            <!-- <p>Instructions: <input type="text" name="instructions"></p> -->
            <p>Instructions: <textarea rows="20" cols="50" name="instructions"></textarea></p>
            <p>Labels (select multiple): </p>
            <select multiple name="labels" id="labels">
                {% for l in labels %}
                    <option value="{{l}}">{{l}}</option>
                {% endfor %}
            </select>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>
