<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
    </head>

    <body> 
        <h1>Recipes</h1>
        <div>
            {% for n in data %}
            <div class="recipe_name">{{n.name}}</div>
            <div class="recipe_id">Recipe Number: {{n.recipe_id}}</div>
            <div class="username">By: {{n.username}}</div>
            <ul>
                {% for i in n.ingredients%}
                    <li>{{i}}</li>
                {% endfor %}
            </ul>
            <div>{{n.instructions}}</div>
            
            {% endfor %}
        </div>
    </body>
</html>