body{ 
    font-size: 15pt;
    font-family: arial;
  }
.recipe_name{
      font-size: 20pt;
      font-weight: bold;
  }
.recipe_id{
      font-weight:bold;
  }
.username{
      font-style:italic;
  }
