<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
    </head>

    <body> 
        <h1>
            {{data}}'s Recipes
        </h1>
        <p><a href="/myrecipes/{{data}}">My Recipes</a></p>
        <p><a href="/mybooks/{{data}}">My Recipebooks</a></p>
        <p><a href="/savedrecipebooks/{{data}}">My Saved Recipebooks</a></p>
        <p><a href="/followers/{{data}}">My Followers</a></p>
        <p><a href="/following/{{data}}">My Following</a></p>
    </body>
</html>